@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12">

    <div class="jumbotron jumbotron-fluid rounded" style="background-color:#e6e6e6">
        <div class="container">
            <h1 class="display-4"> ACaRS Reports Viewer</h1>
            <p>Witamy w systemie przeglądania raportów ACaRS Viewer.</p>
            <p>Aby rozpocząć pracę z systemem, wybierz pozycję z menu głównego po lewej stronie ekranu.</p>
        </div>
    </div>
</div>
