@using Microsoft.Reporting.WebForms
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.IsError)
{
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-danger">Błąd</span>
            @ViewBag.ErrorMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
}
else
{
    @Html.Partial("_Report", (List<ReportParameterInfo>)ViewBag.Parameters, new ViewDataDictionary() {
        { "Report", ViewBag.Report },
        { "Horizontal", ViewBag.Horizontal },
        { "ReportName", ViewBag.ReportName },
    })
}